
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */

body {
	font-family: Times New Roman; sans-serif;
}

img {
  max-width: 100%;
}


nav {

	padding: 20px;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;

}

nav a {
	color: #7B98AA;
	font-size: 16px;
	margin: 40px;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

a:hover{
	color: grey;
}




ul {
	margin: 0;
}

li {
	display: inline-block;
}


header {
	position: relative;	
}

header div {
	position: relative;	
}

#slider {
	background-color: white;
	max-width: 400px;
	margin: auto;
}


.wrapper {
	position: relative;
	width: 1000px;
	display: block;
	margin: auto;
}

.hero {
	position: relative;
	width: 1000px;
	display: block;
	margin: auto;
	}


/* ----------------------------------------
Car Locations
------------------------------------------- */

.day_0 {
	position: absolute;
	z-index: 1;
	top: 37%;
	left: 0%;
}


.day_1 {
	position: absolute;
	z-index: 1;
	top: 23%;
	left: 2%;	
}

.day_2 {
	position: absolute;
	z-index: 1;
	top: 23%;
	left: 2%;
}

.day_3 {
	position: absolute;
	z-index: 1;
	top: 23%;
	left: 2%;
}

.day_4 {
	position: absolute;
	z-index: 1;
	top: 11%;
	left: 9%;
}

.day_5 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_6 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_7 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_8 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_9 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_10 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_11 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_12 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_13 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_14 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_15 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_16 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_17 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_18 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_19 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_20 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_21 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_22 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_23 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_24 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_25 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_26 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_27 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_28 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_29 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}

.day_30 {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 5%;
}


/* ----------------------------------------
Slider
------------------------------------------- */


/*section {
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
}

section div {
	margin: 50px;
}*/

/*Info Section*/


/*main {
	display: flex;
	margin: 50px;
}

.col-2-3 {
	width: 66.6666%;
	padding: 20px;
}

.col-1-3 {
	width: 33.33333%;
	padding: 20px;
}


main div {
	display:flex;
	flex-direction: column;
}

.wrap {
	display:inline-block;
	flex-direction: column;
}*/

/* ----------------------------------------
Slider
------------------------------------------- */


#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

.destinationname {
	color: black;
}

/* ----------------------------------------
Media Queries
------------------------------------------- */
/*.hamburger {
	display: none;
}*/

/*@media screen and (max-width: 970px) {

	.hamburger {
		display: flex;
		justify-content: center;
		font-size: 50px;
	}
	nav a {
		display:none;
	}
	.col-1-3 {
		height: ;
	}

	.hero {
		left:50px;
	}
}
*/
